BuzzLancer/Library
BuzzLancer/Temp
BuzzLancer/Assembly-CSharp-vs.csproj
BuzzLancer/Assembly-CSharp.csproj
BuzzLancer/BuzzLancer-csharp.sln
BuzzLancer/BuzzLancer.sln
*.suo

_ReSharper*

[Bb]in
[Rr]elease
[Dd]ebug

/Build

Thumbs.db
Desktop.ini
